<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="{{SITE_DESCRIPTION}}"><title>Mendoza Consultant &ndash;  </title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"><!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"><link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"><link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
--><link rel="stylesheet" href="../../assets/pure.css"></head><body><div class="header"><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="https://mendozaconsultcorp.com"> Mendoza Consultant </a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com" class="pure-menu-link">Home</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/gallery/" class="pure-menu-link">Gallery</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/#contact" class="pure-menu-link">Contact</a></li></ul></div></div><div class="splash-container"><div class="splash"><h2 class="splash-head quote"></h2><p class="splash-subhead">
Mendoza Consult Corp.
</p><p><a href="#contact" class="button-success pure-button">Get in Touch</a></p></div></div><p>I particularly like to use the i3 window manager on my local linux systems because it focuses on using the keyboard and allows me to be super productive and seems less taxing than xfce or lxde, even on my raspberry pi. However using the new PIXL desktop for the raspberry pi make it a little difficult to change the session you log into.</p><p>If you are such a person who wants to use a more keyboard focused window manager or want something a little lighter than lxde, perhaps i3 is for you. If you are not cozy with i3 there are certainly other window managers you can try like awesome, byobu, and so on. (so this might be help for for you sitation also)</p><p>If you are still a person that uses GUIs that resemble say like windows/OSx UIs you may want to try to find and use the keyboard shortcuts for your particular operating system to see just how much faster you can do things. It will get some time getting used to remember certain keyboard shortcuts but in the long run I believe its worth it to memorize some shortcuts you may find useful to save a bunch of time, even if you use something like KDE or Gnome or even Windows or OsX.</p><p>n.b. any text you see after &quot;$&quot; indicates it is a command you need to run in a terminal</p><p>Steps to reproduce if you mainly use the <em><strong>GUI</strong></em>:</p><ul><li><p>Boot rasperry pi and log into raspbian</p></li><li><p>Open a terminal</p></li><li><p>Update and install i3
$ sudo apt update &amp; sudo apt install i3 dmenu suckless-tools</p></li><li><p>Change the greeter so we can select i3 and log into i3 (or not when we don't want to use it)
$ sed -i s/greeter-session=pi-greeter/greeter-session=lightdm-gtk-greeter/g /etc/lightdm/lightdm.conf</p></li><li><p>Disable auto log in via raspi-config
$ sudo raspi-config</p></li><li><p>Select &quot;Boot Options&quot;</p></li><li><p>Select &quot;Desktop/CLI&quot;</p></li><li><p>Select &quot;Desktop&quot;</p></li><li><p>Reboot</p></li><li><p>Profit! :D</p></li></ul><p>Steps to reproduce if you use <em><strong>console</strong></em> interface most of the time and occasionally use a GUI:</p><ul><li><p>Boot raspberry pi and log into raspbian</p></li><li><p>Update and install i3
$ sudo apt update &amp; sudo apt install i3 dmenu suckless-tools</p></li><li><p>Add i3 to our xinit.rc file so startx will run i3
$ echo &quot;exec i3&quot; &gt; .xinit.rc</p></li><li><p>Start xserver
$ startx</p></li><li><p>Profit! :D</p></li></ul><p>Reminder: if you are using the Console interface you need to type &quot;startx&quot; every time after boot to use i3.</p><hr /><p>Now all thats left to do is set up the modifier, a key you will press to indicate to i3 that you wish to do something. Sort of how on windows you press &quot;Alt&quot;; &quot;Alt&quot; would be considered the modifier you would press to run a certain shortcut command.</p><p>There is a full (i3 userguide)[https://i3wm.org/docs/userguide.html] that descibes more of what
you can do in i3; from moving windows, setting custom keyboard commands, to even making sure firefox opens up on the right screen on our dual screen set up and in full screen to minimize disctractions.</p><div class="content"><p>
 Updated Fri 19 Apr 2019 05:12:33 AM UTC
</p></div><br><script src="../../assets/main.js"></script><div class="footer l-box is-center">
&copy; 2017-2018 Mendoza Consultant
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a></div>