<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="{{SITE_DESCRIPTION}}"><title>Mendoza Consultant &ndash;  </title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"><!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"><link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"><link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
--><link rel="stylesheet" href="../../assets/pure.css"></head><body><div class="header"><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="https://mendozaconsultcorp.com"> Mendoza Consultant </a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com" class="pure-menu-link">Home</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/gallery/" class="pure-menu-link">Gallery</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/#contact" class="pure-menu-link">Contact</a></li></ul></div></div><div class="splash-container"><div class="splash"><h2 class="splash-head quote"></h2><p class="splash-subhead">
Mendoza Consult Corp.
</p><p><a href="#contact" class="button-success pure-button">Get in Touch</a></p></div></div><h2>contact</h2><blockquote><p>Author: {AUTHOR}</p></blockquote><blockquote><p>Date: 04:57:33 AM 2018-06-18</p></blockquote><blockquote><p>Tags: Example, Documentation, Test</p></blockquote><hr /><p>I can be reached via the following online methods.</p><ul><li><p>Email:</p><ul><li><p>joeode47@gmail.com</p></li><li><p>joedoe47@sdf.org</p></li></ul></li><li><p>Mastondon:</p><ul><li>joedoe@mastondon.sdf.org</li></ul></li></ul><div class="content"><p>
 Updated Fri 19 Apr 2019 05:12:33 AM UTC
</p></div><br><script src="../../assets/main.js"></script><div class="footer l-box is-center">
&copy; 2017-2018 Mendoza Consultant
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a></div>