<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="{{SITE_DESCRIPTION}}"><title>Mendoza Consultant &ndash;  </title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"><!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"><link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"><link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
--><link rel="stylesheet" href="../../assets/pure.css"></head><body><div class="header"><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="https://mendozaconsultcorp.com"> Mendoza Consultant </a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com" class="pure-menu-link">Home</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/gallery/" class="pure-menu-link">Gallery</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/#contact" class="pure-menu-link">Contact</a></li></ul></div></div><div class="splash-container"><div class="splash"><h2 class="splash-head quote"></h2><p class="splash-subhead">
Mendoza Consult Corp.
</p><p><a href="#contact" class="button-success pure-button">Get in Touch</a></p></div></div><div class="content-wrapper"><div class="content"><h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2><div class="pure-g"><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><h3 class="content-subhead"><i class="fa fa-business-time"></i>
Fast Delivery
</h3><p>
Sites are delivered on time with agreed features or your money back.
</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><h3 class="content-subhead"><i class="fa fa-rocket"></i>
Fast load times
</h3><p>
Sites should always be optimized and take advantage of any technologies to be blazing fast and useable 99.999%
</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><h3 class="content-subhead"><i class="fa fa-th-large"></i>
Modular
</h3>
Sites are always built in a modular way to be "future proof" and "scalable" if you need to expand rapidly or to integrate with other tools for commerce, analytics, or custom apps you have.
</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><h3 class="content-subhead"><i class="fa fa-comments"></i>
Instant Support
</h3><p>
Communication is key to success. Monday through Saturday 7am to 10pm I can communicate in real time as need to fix the problem in real time.
</p></div><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><h3 class="content-subhead"><i class="fa fa-history"></i>
Edits, Revisions, & Upgrades
</h3><p>
projects include as many revisions and upgrades as needed and  in the outline of the project.
</p></div></div></div><div class="ribbon l-box-lrg pure-g"><div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5"><img width="300" alt="File Icons" class="pure-img-responsive" src="/img/common/file-icons.png"></div><div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5"><h2 class="content-head content-head-ribbon">Sample Gallery</h2><p>
You can view the different sample designs, frameworks, and technologies used in this gallery.
</p></div></div><div class="content"><a name="contact"></a><h2 class="content-head is-center">Contact</h2><div class="pure-g"><div class="l-box-lrg pure-u-1 pure-u-md-2-5"><script>
/*function ValidateForm() {
let PhoneRegex = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
let EmailRegex = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
<p>let CheckName = document.forms['contact']['name'].value;
let Checkemail = document.forms['contact']['email'].value;
let CheckPhone = document.forms['contact']['phone'].value;</p><p>if (CheckName == '') { alert('Name must be filled out'); return false; }
if (CheckEmail == '') { alert('Email must be filled out'); return false; }</p><p>if (CheckPhone.value.match(EmailRegex)) { alert('This is not a valid email'); return false; }
if (CheckPhone.length &lt; 10 || CheckPhone.length &gt; 10 || CheckPhone.value.match(PhoneRegex)) { alert('This is not a valid phone number'); return false; }<br />
}
*/
function SendForm(){
var request = new XMLHttpRequest();
request.open('GET', 'https://script.google.com/macros/s/AKfycbxq5ITAEyHbMEqBirvTGaAUTq2M7Nc8Fdp4egNsgd4le8WK8Uo/exec', true);
request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
request.send(data);
}</p></script><form class="pure-form pure-form-stacked" name="contact" method="get" onsubmit="return ValidateForm()" action=""><fieldset><label for="name">Your Name</label><input id="name" type="text" placeholder="John Doe" required><label for="email">Your Email</label><input id="email" type="email" placeholder="JDoe@buisness.com" required><label for="phone">Your phone number (optional)</label><input id="phone" type="text" placeholder="000-000-0000"><button type="submit" class="button-success pure-button" onclick="SendForm()"><i class="fas fa-envelope"></i>
Get in Touch</button></fieldset></form></div><div class="l-box-lrg pure-u-1 pure-u-md-3-5"><h4>Get in touch</h4><p>
I'm also available for contact on the following social media platforms and post things related to work, nature, and X
<br></p><div class="pure-button-group" role="group" aria-label="..."><a href="" class="pure-button"><i class="fab fa-twitter-square"></i>
Twitter
</a><a href="" class="pure-button"><i class="fab fa-linkedin"></i>
Linkedin
</a><a href="" class="pure-button"><i class="fab fa-youtube"></i>
Youtube
</a></div></div></div></div><div class="content"><p>
 Updated Fri 19 Apr 2019 05:12:33 AM UTC
</p></div><br><script src="../../assets/main.js"></script><div class="footer l-box is-center">
&copy; 2017-2018 Mendoza Consultant
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a></div>