<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="{{SITE_DESCRIPTION}}"><title>Mendoza Consultant &ndash;  </title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"><!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"><link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"><link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
--><link rel="stylesheet" href="../../assets/pure.css"></head><body><div class="header"><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="https://mendozaconsultcorp.com"> Mendoza Consultant </a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com" class="pure-menu-link">Home</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/gallery/" class="pure-menu-link">Gallery</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/#contact" class="pure-menu-link">Contact</a></li></ul></div></div><div class="splash-container"><div class="splash"><h2 class="splash-head quote"></h2><p class="splash-subhead">
Mendoza Consult Corp.
</p><p><a href="#contact" class="button-success pure-button">Get in Touch</a></p></div></div><div class="content-wrapper"><div class="content"><h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2><div class="pure-g"><div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4"><pre><code>            &lt;h3 class=&quot;content-subhead&quot;&gt;
                &lt;i class=&quot;fa fa-rocket&quot;&gt;&lt;/i&gt;
                Get Started Quickly
            &lt;/h3&gt;
            &lt;p&gt;
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4&quot;&gt;
            &lt;h3 class=&quot;content-subhead&quot;&gt;
                &lt;i class=&quot;fa fa-mobile&quot;&gt;&lt;/i&gt;
                Responsive Layouts
            &lt;/h3&gt;
            &lt;p&gt;
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4&quot;&gt;
            &lt;h3 class=&quot;content-subhead&quot;&gt;
                &lt;i class=&quot;fa fa-th-large&quot;&gt;&lt;/i&gt;
                Modular
            &lt;/h3&gt;
            &lt;p&gt;
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4&quot;&gt;
            &lt;h3 class=&quot;content-subhead&quot;&gt;
                &lt;i class=&quot;fa fa-check-square-o&quot;&gt;&lt;/i&gt;
                Plays Nice
            &lt;/h3&gt;
            &lt;p&gt;
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;ribbon l-box-lrg pure-g&quot;&gt;
    &lt;div class=&quot;l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5&quot;&gt;
        &lt;img width=&quot;300&quot; alt=&quot;File Icons&quot; class=&quot;pure-img-responsive&quot; src=&quot;/img/common/file-icons.png&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;pure-u-1 pure-u-md-1-2 pure-u-lg-3-5&quot;&gt;

        &lt;h2 class=&quot;content-head content-head-ribbon&quot;&gt;Laboris nisi ut aliquip.&lt;/h2&gt;

        &lt;p&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;content&quot;&gt;
    &lt;h2 class=&quot;content-head is-center&quot;&gt;Dolore magna aliqua. Uis aute irure.&lt;/h2&gt;

    &lt;div class=&quot;pure-g&quot;&gt;
        &lt;div class=&quot;l-box-lrg pure-u-1 pure-u-md-2-5&quot;&gt;
            &lt;form class=&quot;pure-form pure-form-stacked&quot;&gt;
                &lt;fieldset&gt;

                    &lt;label for=&quot;name&quot;&gt;Your Name&lt;/label&gt;
                    &lt;input id=&quot;name&quot; type=&quot;text&quot; placeholder=&quot;Your Name&quot;&gt;


                    &lt;label for=&quot;email&quot;&gt;Your Email&lt;/label&gt;
                    &lt;input id=&quot;email&quot; type=&quot;email&quot; placeholder=&quot;Your Email&quot;&gt;

                    &lt;label for=&quot;password&quot;&gt;Your Password&lt;/label&gt;
                    &lt;input id=&quot;password&quot; type=&quot;password&quot; placeholder=&quot;Your Password&quot;&gt;

                    &lt;button type=&quot;submit&quot; class=&quot;pure-button&quot;&gt;Sign Up&lt;/button&gt;
                &lt;/fieldset&gt;
            &lt;/form&gt;
        &lt;/div&gt;

        &lt;div class=&quot;l-box-lrg pure-u-1 pure-u-md-3-5&quot;&gt;
            &lt;h4&gt;Contact Us&lt;/h4&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            &lt;/p&gt;

            &lt;h4&gt;More Information&lt;/h4&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/div&gt;

&lt;div class=&quot;footer l-box is-center&quot;&gt;
    View the source of this layout to learn more. Made with love by the YUI Team.
&lt;/div&gt;
</code></pre></div><div class="content"><p>
 Updated Fri 19 Apr 2019 05:12:33 AM UTC
</p></div><br><script src="../../assets/main.js"></script><div class="footer l-box is-center">
&copy; 2017-2018 Mendoza Consultant
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a></div>