<!doctype html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="{{SITE_DESCRIPTION}}"><title>Mendoza Consultant &ndash;  </title><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"><!--
 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"><link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"><link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
--><link rel="stylesheet" href="../../assets/pure.css"></head><body><div class="header"><div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed"><a class="pure-menu-heading" href="https://mendozaconsultcorp.com"> Mendoza Consultant </a><ul class="pure-menu-list"><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com" class="pure-menu-link">Home</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/gallery/" class="pure-menu-link">Gallery</a></li><li class="pure-menu-item"><a href="https://mendozaconsultcorp.com/#contact" class="pure-menu-link">Contact</a></li></ul></div></div><div class="splash-container"><div class="splash"><h2 class="splash-head quote"></h2><p class="splash-subhead">
Mendoza Consult Corp.
</p><p><a href="#contact" class="button-success pure-button">Get in Touch</a></p></div></div><div class="content-wrapper"><div class="content"><h2>privacy</h2><blockquote><p><strong><img src="GRAVATAR" alt="avatar" /></strong></p></blockquote><blockquote><p>Author: joedoe47</p></blockquote><blockquote><p>Date: 04:27:35 AM | 2018-07-02</p></blockquote><hr /><h2>Privacy Policy</h2><p>Cookies are used for generic information storage and are not really used in this site other than say to provide non-intrusive and non-user targeted ads. Users are free to block any cookies or information that specifically identifies them. Any client or server side code is accessible to inspect that I am not using any tricks to obtain user data. User privacy is important, I would not like to be tracked, spied, or tricked so I treat others with the same respect.</p><p>I do keep logs of users who access information but I use it as metric to determine my audience and how to better distribute content, available <a href="../../logs/mcm.html">here</a>.</p><p>Should there be something you think is erronous or mishandled, please feel free to send me an email at joedoe47 at gmail dot com.</p><p>Sincerely,</p><p>Jose A Mendoza</p></div><div class="content"><p>
 Updated Fri 19 Apr 2019 05:12:33 AM UTC
</p></div><br><script src="../../assets/main.js"></script><div class="footer l-box is-center">
&copy; 2017-2018 Mendoza Consultant
&middot; <a href="../../privacy.html">Privacy</a>
&middot; <a href="logs/access.html">Analytics</a>
&middot; <a href="#top">Back to Top</a></div>